#### super() --> A special function used in CHILD/SUB class to call methods from prarent/super class.  
- <details><summary>brocode</summary>
    refer brocode SUPER() in Python explained!


  </details>

In [64]:
class Human:
    def __init__(self,name,age,gender,height,weight):
        self.name = name
        self.age = age
        self.gender = gender
        self.height = height
        self.weight =weight
        print(f"a {self.gender} named '{self.name}', {self.age} yrs of age weighing {self.weight} kg stands {self.height} cms tall.")
        
    
    
    
    
class Employee(Human):
    
    def __init__(self ,name,age,gender,height,weight,state,profession):
        
        self.state = state
        self.profession = profession
        print(f"works as a {self.profession} and is from {self.state}") 
        super().__init__(name,age,gender,height,weight)
        
        

class Soldier:
    pass
    
class Teacher:
    pass

class Farmer:
    pass 

class Sports_person:
    pass

In [65]:
h1=Human('Ajay',26,'male',175,71)

a male named 'Ajay', 26 yrs of age weighing 71 kg stands 175 cms tall.

In [66]:
e1 = Employee('Biloo',25,'Female',168,62,"Delhi","teacher")

works as a teacher and is from Delhi
a Female named 'Biloo', 25 yrs of age weighing 62 kg stands 168 cms tall.

In [67]:
print(e1.name)

Biloo